[Unit]
Description=Starts and stops the Touchegg
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
GuessMainPID=yes
User=pi
ExecStart=/home/pi/startTouchegg.sh
Restart=on-failure
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target
